player-connection-mode=Listen
player-connection-guid=4142583724
player-connection-debug=0
player-connection-project-name=LastDance
player-connection-ip=192.168.226.71
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=156acef4e2444d3482d18b122028898e
